<div class="container">
    <div class="desc">
      <div class="title">Login</div>
      Per accedere alla pagina riservata ai manutentori inserisci la tua email
    </div>
    <div class="login">
          <form  [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-error *ngIf="control==false">
              Indirizzo email non valido
            </mat-error><br>
            <input formControlName="email" placeholder="email.." class="box"><br>
            <button mat-raised-button class="button" color="primary">Accedi</button>
          </form>
    </div>
</div>