.title {
    color: orange;
    font-size: 4em !important;
    font-family: monospace;
    text-align: center !important;
    margin-bottom: 1%;
}

.logo {
    margin: auto;
    width: 450px;
    height: 180px;
}

@media screen and (max-width: 1079px) {
    .title {
        color: orange;
        font-size: 200% !important;
        font-family: monospace;
        text-align: center !important;
        margin-bottom: 1%;
    }

    .logo {
        margin: auto;
        width: 40%;
        height: 40%;
    }
    
    .logoContainer {
        margin-top: 1%;
    }
}