<div class="leafletmap"> 
    <div id="map">
    </div>
</div>

<div class="desc1">Sensori di parcheggio</div>
<div class="lista">
    <mat-accordion class="panel">
    <cdk-virtual-scroll-viewport itemSize="50" class="barra">
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" *ngFor="let group of grouped | keyvalue">
   
        <mat-expansion-panel-header>
           <mat-panel-title>
             {{group.key}}
           </mat-panel-title>
           <mat-panel-description>
             <mat-icon>map</mat-icon>
           </mat-panel-description>
        </mat-expansion-panel-header>
   
        <mat-accordion>
           <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" *ngFor="let item of group.value">
   
             <mat-expansion-panel-header (click)="showMarker(item)">
                 <mat-panel-title>
                   Sensore: {{ item.name }}
                 </mat-panel-title>
                 <mat-panel-description>
                   <span *ngIf="!item.parkingArea[0].value" class="dotFalse"></span>
                   <span *ngIf="item.parkingArea[0].value" class="dotTrue"></span>
                 </mat-panel-description>   
             </mat-expansion-panel-header>
   
             <p class="details">
                 Latitudine: {{item.parkingArea[0].latitude}}<br>
                 Longitudine: {{item.parkingArea[0].longitude}}
             </p>                        
         
           </mat-expansion-panel>
        </mat-accordion>
   
        </mat-expansion-panel>
    </cdk-virtual-scroll-viewport>
    </mat-accordion>
</div>

<div class="desc1">Sensori ambientali</div>
<div class="lista-amb">
    <cdk-virtual-scroll-viewport itemSize="50" class="barra">
    <table class="sens-table">
        <tbody>
            <tr>
                <td class="column1" (click)="showMarkerAmb()">Padova Galleria Spagna</td>
                <td class="column2"><a href="https://syncmonitor.altervista.org/" target="_blank">Sensore</a></td>
            </tr>
        </tbody>
    </table>
    </cdk-virtual-scroll-viewport>
</div>

<div class="desc2">Team di sviluppo</div>
<div class="footer">
<table class="zui-table">
      <thead>
          <tr>
              <th>Team</th>
              <th>Position</th>
              <th>Url</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Ing. Pallaro Fabio</td>
              <td>Project Manager</td>
              <td></td>
          </tr>
          <tr>
              <td>Ing. Zorzi Daniele</td>
              <td>Team leader</td>
              <td></td>
          </tr>
          <tr>
              <td>Manuel Barbato</td>
              <td>Developer</td>
              <td></td>
          </tr>
          <tr>
              <td>Luca Busacca</td>
              <td>Developer</td>
              <td></td>
          </tr>
          <tr>
              <td>Andrea Volpe</td>
              <td>Developer</td>
              <td>https://github.com/avolpe1998</td>
          </tr>
          <tr>
              <td>Andrej Danciu</td>
              <td>Developer</td>
              <td></td>
          </tr>
            <tr>
              <td>Alberto Matterazzo</td>
              <td>Developer</td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>