html, body {
    height: 100%;
    width: 100%;
}

.dotFalse {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(7, 213, 41);
    display: inline-block;
}
  
.dotTrue {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(207, 9, 9);
    display: inline-block;
}

.details {
    color: rgb(110, 110, 110);
    font-family: helvetica, sans-serif;
    padding-left: 40%;
}

.mat-expansion-panel-header-title {
    font-family: helvetica, sans-serif;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.mat-expansion-panel {
    background-color: #DDEEEE;
}

#map {
    height: 100%;
    width: 100%;
}

.barra {
    height: 90%;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}

.footer {
    margin-top: 3%;
}

.leafletmap {
    height: 100%;
    width: 50%;
    float: right;
}

.lista {
    border: 0;
    border-style: outset;
    border-width: thin;
    height: 100%;
    width: 45%;
    float: left;
}

.lista:hover {
    box-shadow:
    1px 1px rgb(162, 162, 162),
    2px 2px rgb(162, 162, 162),
    3px 3px rgb(162, 162, 162),
    4px 4px rgb(162, 162, 162),
    5px 5px rgb(162, 162, 162),
    6px 6px rgb(162, 162, 162);
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
    transition: .5s ease;
}

.container {
    width: 98%;
    height: 70%;
}

.desc1 {
    text-align: center;
    font-family: helvetica, sans-serif;
}

.desc2 {
    text-align: center;
    font-family: helvetica, sans-serif;
}

@media screen and (max-width: 1079px) {
.footer {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    margin-top: 3%;
}

.container {
    display: flex; 
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.leafletmap {
    order: 1;
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 65%;
    width: 100%;
    margin-bottom: 2%;
}

.lista {
    order: 2;
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 40%;
    width: 100%;
}

.mat-expansion-panel-header-title {
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
}

.details {
    color: rgb(110, 110, 110);
    font-family: helvetica, sans-serif;
    padding-left: 40%;
    font-size: 0.8em;
}

.desc1 {
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
}

.desc2 {
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
}

.zui-table {
    font-size: 70%;
}
}
