html, body {
    height: 100%;
    width: 100%;
}

.dotFalse {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(7, 213, 41);
    display: inline-block;
}
  
.dotTrue {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(207, 9, 9);
    display: inline-block;
}

.details {
    color: rgb(110, 110, 110);
    font-family: helvetica, sans-serif;
    padding-left: 40%;
}

.mat-expansion-panel {
    background-color: #DDEEEE;
}

.mat-expansion-panel-header-title {
    font-family: helvetica, sans-serif;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}

.sens-table {
    border: solid 2px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.sens-table tbody td {
    border: solid 2px #DDEEEE;
    padding: 10px;
}

.column1 {
    text-align: left;
    width: 50%;
    cursor: pointer;
}
.column2 {
    text-align: center;
    width: 50%;
}


.leafletmap {
    border: 0;
    border-style: solid;
    border-width: thin;
    height: 80%;
    width: 100%;
    margin-bottom: 1%;
}

#map {
    height: 100%;
    width: 100%;
}

.lista {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 50%;
    width: 50%;
    margin: auto;
    margin-bottom: 1%;
}

.lista-amb {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 30%;
    width: 50%;
    margin: auto;
    margin-bottom: 1%;
}

.barra {
    height: 100%;
}

.footer {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 50%;
    margin: auto;
}

.desc1 {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: helvetica, sans-serif;
    border-bottom: none;
}

.desc2 {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: helvetica, sans-serif;
    border-bottom: none;
}

@media screen and (max-width: 1079px) {

.leafletmap {
    border: 0;
    border-style: solid;
    border-width: thin;
    height: 70%;
    width: 100%;
    margin-bottom: 1%;
}

.lista {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 30%;
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
}

.lista-amb {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    height: 20%;
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
}

.footer {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 100%;
    margin: auto;
}

.mat-expansion-panel-header-title {
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
}

.details {
    color: rgb(110, 110, 110);
    font-family: helvetica, sans-serif;
    padding-left: 40%;
    font-size: 0.8em;
}

.desc1 {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
    border-bottom: none;
}

.desc2 {
    border: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5%;
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
    border-bottom: none;
}

.zui-table {
    font-size: 70%;
}

.sens-table {
    font-size: 70%;
}

}
