<div class="leafletmap"> 
    <div id="map2">
    </div>
</div>

<div class="desc1">
    Benvenuto {{ownerName}} {{ownerSurname}}<br>
    {{company}}<br>
    Tel. {{phoneNumber}}<br>
    <a (click)="logout()" class="logout"><u>Esci</u></a><br>
</div>
<div class="lista">
        <mat-accordion>
        <cdk-virtual-scroll-viewport itemSize="50" class="barra">
           <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" *ngFor="let item of sensorsTemp">
   
             <mat-expansion-panel-header (click)="showMarker(item)">
                 <mat-panel-title>
                   Sensore: {{ item.name }}
                 </mat-panel-title>
                 <mat-panel-description class="sensorDesc">
                   <div class="descAddress">{{item.parkingArea[0].address}}</div>
                   <div *ngIf="!item.maintainer[0].toBeRepaired" class="greenText2">Funzionante</div>
                   <div *ngIf="item.maintainer[0].toBeRepaired" class="redText2">Danneggiato</div>
                   <div *ngIf="!item.maintainer[0].toBeCharged" class="greenText1">Carico</div>
                   <div *ngIf="item.maintainer[0].toBeCharged" class="redText1">Scarico</div>
                 </mat-panel-description>   
             </mat-expansion-panel-header>
   
             <p class="details">
                 Latitudine: {{item.parkingArea[0].latitude}}<br>
                 Longitudine: {{item.parkingArea[0].longitude}}<br>
                 Batteria: {{item.battery}}<br>
                 Carica batteria: {{item.charge}}<br> 
             </p>
         
           </mat-expansion-panel>
        </cdk-virtual-scroll-viewport>
        </mat-accordion>
</div>

<div class="desc2">Team di sviluppo</div>
<div class="footer">
<table class="zui-table">
      <thead>
          <tr>
              <th>Team</th>
              <th>Position</th>
              <th>Url</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Ing. Pallaro Fabio</td>
              <td>Project Manager</td>
              <td></td>
          </tr>
          <tr>
              <td>Ing. Zorzi Daniele</td>
              <td>Team leader</td>
              <td></td>
          </tr>
          <tr>
              <td>Manuel Barbato</td>
              <td>Developer</td>
              <td></td>
          </tr>
          <tr>
              <td>Luca Busacca</td>
              <td>Developer</td>
              <td></td>
          </tr>
          <tr>
              <td>Andrea Volpe</td>
              <td>Developer</td>
              <td>https://github.com/avolpe1998</td>
          </tr>
          <tr>
              <td>Andrej Danciu</td>
              <td>Developer</td>
              <td></td>
          </tr>
            <tr>
              <td>Alberto Matterazzo</td>
              <td>Developer</td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>