html, body {
    height: 100%;
    width: 100%;
}

.details {
    color: rgb(110, 110, 110);
    font-family: helvetica, sans-serif;
    padding-left: 40%;
}

.mat-expansion-panel-header-title {
    font-family: helvetica, sans-serif;
}

.mat-expansion-panel {
    background-color: #DDEEEE;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.column1 {
    float: left;
    width: 45%;
}

.column2 {
    float: right;
    width: 50%;
}

#map2 {
    height: 600px;
    width: 750px;
}

.button {
    text-decoration: none;
    color: white;
}

.buttonPos {
    position: absolute;
    top: 20px; right: 40px;
}

.redText1 {
    color:rgb(207, 9, 9);
}

.greenText1 {
    color:rgb(7, 213, 41);
}

.redText2 {
    color:rgb(207, 9, 9);
    margin-right: 30px;
}

.greenText2 {
    color:rgb(7, 213, 41);
    margin-right: 30px;
}

.descAddress {
    color: rgb(110, 110, 110);
    margin-right: 50px;
}

.barra {
    height: 600px;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
}

.footer {
    margin-top: 45%;
}