<div class="column1"> 
    <mat-accordion class="panel">
    <cdk-virtual-scroll-viewport itemSize="50" class="barra">
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" *ngFor="let group of grouped | keyvalue">

        <mat-expansion-panel-header>
           <mat-panel-title>
             {{ group.key }}
           </mat-panel-title>
           <mat-panel-description>
             <mat-icon>account_circle</mat-icon>
           </mat-panel-description>
        </mat-expansion-panel-header>
 
        <mat-accordion>
           <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" *ngFor="let item of $any(group).value">
   
             <mat-expansion-panel-header (click)="showMarker(item)">
                 <mat-panel-title>
                   Sensore: {{ item.name }}
                 </mat-panel-title>
                 <mat-panel-description class="sensorDesc">
                   <div class="descAddress">{{item.parkingArea[0].address}}</div>
                   <div *ngIf="!item.maintainer[0].toBeRepaired" class="greenText2">Funzionante</div>
                   <div *ngIf="item.maintainer[0].toBeRepaired" class="redText2">Danneggiato</div>
                   <div *ngIf="!item.maintainer[0].toBeCharged" class="greenText1">Carico</div>
                   <div *ngIf="item.maintainer[0].toBeCharged" class="redText1">Da caricare</div>
                 </mat-panel-description>   
             </mat-expansion-panel-header>
   
             <p class="details">
                 Latitudine: {{item.parkingArea[0].latitude}}<br>
                 Longitudine: {{item.parkingArea[0].longitude}}<br>
                 Batteria: {{item.battery}}<br>
                 Carica batteria: {{item.charge}}<br> 
             </p>
         
           </mat-expansion-panel>
        </mat-accordion>
   
        </mat-expansion-panel>
    </cdk-virtual-scroll-viewport>
    </mat-accordion>
</div>

<div class="column2"> 
  <div id="map2">
  </div>
</div>

<div class="buttonPos">
<button mat-raised-button color="primary">
  <a routerLink="/user" class="button">Visualizza come utente</a>
</button>
</div>